[Unit]
Description=OLED Display Info Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/bin/oled_info.py
WorkingDirectory=/opt/bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=anare
Group=anare

[Install]
WantedBy=multi-user.target
